<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/home.css">
    <title>Home Page</title>
</head>
<body>
     <header>
        <h1>Simple Todo List</h1>
        <h2>Choice or Create todo</h2>
        <hr class="line header_line">
     </header>
     <div id="content">
        <div id="head_on_list">
            <h2>List</h2>
            
            <div id="tools">
                <a class="tool" id="create_todo_btn" title="Create new todo." href="/create"><img src="static/media/icons/plus.png" alt="plus"></a>
            </div>
        </div>
        <hr class="line">
        <ul id="todo_list">
             {% for todo_el in todo_lists %}
                <a class="todo_element" href="/todo/{{ todo_el }}">Todo name: {{ todo_el }}</a>
             {% endfor %}
        </ul>
     </div>
</body>
</html>